*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: red solid 1px;
}

header{
    height: 60px;
    text-align: center;
    background-color: palevioletred;
    margin: 0.5rem;
}

h2{
    height: 40px;
    text-align: center;
    background-color: aqua;
    margin: 0.5rem;
}

.card-component{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    max-width: 300px;
    margin: 1rem;
    border-radius: 8px;
}

.card-image{
    border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-text{
    margin: 16px;
}

.card-title{
    margin: 16px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.card-button {
    cursor: pointer;
    color: #6200ee;
    background-color: transparent;
    font-weight: 600;
    border: none;
    padding: 10px;
  }

  .card-button:hover {
    background-color: #f9f5fe;
  }

  .card-icon{
    cursor: pointer;
    color: black;
    padding: 10px;
  }

  .card-icon:hover {
    border-radius: 50%;
    background-color: #f9f5fe;
  }

  .card-title-2{
      order: -1;
  }

  .only-button{
      visibility: hidden;
  }

  .only-icon{
    visibility: hidden;
}

.position{
    position: relative;
}

.absolute{
    color: white;
    position:absolute;
    bottom: 0;
}

.card-image-2{
    height: 200px;
    width: 300px;
}

.card-height{
    height: 340px;
}

.card-horizontal{
    display: flex;
    align-items: flex-end;
}

.card-image-horizontal{
    height: 6rem;
    width: 6rem;
}

.card-horizontal-height{
    height: 220px;
}

/* chips */

.chips-component{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.basic-chips{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.chip{
    background-color: rgb(184, 175, 175);
    min-width: 4rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 1.5rem;
    font-weight: bold;  
}

.chip-cancel{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
}

.cancel{
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.chip-stacked{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}